html, .CodeMirror {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

@media (min-width: 767px) {
html, .CodeMirror {
    font-size: 18px;
}
}

body {
    background-color: #fafbfc;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    font-size: 16px;
}

.folders, .files {
    margin-bottom: 3rem;
}

#editorwrapper {
    margin: 0 auto;
}

#editor {
    border: 1px solid #EEE;
}

.CodeMirror {
    height: auto;
    line-height: 1.5rem;
}

.header {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.breadcrumb-list {
    display: inline;
}

#savestatus {
    float: right;
    color: #AAA;
}

.breadcrumb-item {
    text-decoration: none;
    color: #EEE;
}

.breadcrumb-item:hover {
    color: #000;
}

.breadcrumb-item:first-child:before {
    content: "";
    margin: 0px;
}

.breadcrumb-item::before {
    content: "/";
    margin: 0 10px;
}

.breadcrumb-item:last-child {
    color: #888;
}

.hide {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.CodeMirror-cursor {
  border-left: 2px solid #333;
}

.CodeMirror-matchingbracket {
  background-color: #eaffea;
}
