#container {
    width: 60%;
    margin: 0 auto;
    font-family: "source code pro", sans-serif;
    font-size: 16px;
}

.wrapper {
    margin-bottom: 5rem;
}

.collection {
    display: block;
    list-style: none;
}

.collection-item {
    line-height: 3rem;
    border-bottom: 1px solid #AAA;
}

.collection-item:hover, .collection-item:hover a {
    background: #f4faff;
}

.collection-item a {
    color: #555;
    text-decoration: none;
}

.collection-item a:hover {
    color: #000;
    text-decoration: none;
}


#editor {
    border: 1px solid #EEE;
}

.CodeMirror {
    font-family: "source code pro", sans-serif;
    height: auto;
    line-height: 1.5rem;
}

.header {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.breadcrumb-list {
    display: inline;
}
#savestatus {
    float: right;
    color: #AAA;
}
.breadcrumb-item {
    text-decoration: none;
    color: #EEE;
}

.breadcrumb-item:hover {
    color: #000;
}

.breadcrumb-item:first-child:before {
    content: "";
    margin: 0px;
}

.breadcrumb-item::before {
    content: "/";
    margin: 0 10px;
}

.breadcrumb-item:last-child {
    color: #888;
}

.hide {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}
