/* Common css for Dashboard and editor */
* {
    margin: 0;
    padding: 0;
}
html, .CodeMirror {
    font-family: 'SF Mono', 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    color: #352f26;
}

a, .clickable {
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    font-weight: bold;
}

/* Header */
.header {
    display: flex;
    flex-flow: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DDD;
    padding: 1rem;
}
.header, .header a {
    color: #d2d0cd;
    transition: color 0.5s;
}
.header:hover, .header:hover a {
    color: #352f26;
}
.headerTop {
    flex: 1;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}
.headerBottom {
    display: flex;
}
.headerLeft {
    flex: 1;
}
.headerRight ul {
    list-style: none;
    display: inline;
}
.headerRight ul li {
    display: inline;
    margin-left: 1rem;
}

.action {
    cursor: pointer;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
}
.action:hover {
    font-weight: bold;
}

/*breadcrumb*/
ul.breadcrumb {
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
}
ul.breadcrumb li:not(:first-child):before {
    content: "/";
}

/* option buttons */
.settingsOptions {
    background-color: #CCC;
    border: 3px solid #CCC;
}
.settingsOptions .active {
    background-color: #f7f7f7;
    font-weight: bold;
}
.settingsOption {
    padding: 1px 10px;
}
.settingsOption:not(.active) {
    cursor: pointer;
    opacity: 0.1;
}

@media (min-width: 374px) {
    html, .CodeMirror {
        font-size: 15px;
    }
}
@media (min-width: 575px) {
    html, .CodeMirror {
        font-size: 16px;
    }
}
@media (min-width: 800px) {
    html, .CodeMirror {
        font-size: 17px;
    }
}
