* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #CB122A;
}

a:hover {
    color: #ED344C;
}

/* style of the dashboard */
#dashboard-main {
    max-width: 600px;
    margin: 0 auto;
}

#dashboard-header {
    margin: 2rem 0;
    border-bottom: 1px solid #EEE;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    color: #EEE;
}
#dashboard-header .dashboard-header-sep {
    padding: 0 0.3rem 0 0.3rem;
}
#dashboard-header a {
    color: #EEE;
}
#dashboard-header a:last-child {
    color: #CB122A;
}
#dashboard-header a:hover {
    color: #ED344C;
}


.dashboard-list-item {
    padding: 1rem 0 1rem 0;
}
.dashboard-list-item:hover {
    background-color: #FBFBFB;
}

/* editor style */
#container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
#editorContainer {
    flex: 2;
    overflow: auto;
    width: 600px;
    margin: 0 auto;
    border-right: 1px solid #EEE;
}
.CodeMirror {
    height: 100%;
}

.editor-header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #EEE;
}
.file-name {
    flex: 1;
    padding-left: 1rem;
}
.doc-state {
    color: #AAA;
}
