* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

/* style of the dashboard */
#dashboard-main {
    max-width: 600px;
    margin: 0 auto;
}

#dashboard-header {
    margin: 2rem 0;
    border-bottom: 1px solid #EEE;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    color: #EEE;
}
#dashboard-header .dashboard-header-sep {
    padding: 0 0.3rem 0 0.3rem;
}
#dashboard-header a {
    color: #EEE;
}
#dashboard-header a:last-child {
    color: #CB122A;
}
#dashboard-header a:hover {
    color: #ED344C;
}


.dashboard-list-item {
    padding: 1rem 0 1rem 0;
}
.dashboard-list-item:hover {
    background-color: #FBFBFB;
}

/* style of the settings */
.containerBody {
    width: 600px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    height: 1.5rem;
    padding: 1rem;
}
tr {
    border-bottom: 1px solid #EEE;
}
