/* style of the dashboard */
#dashboard-main {
    max-width: 600px;
    margin: 0 auto;
}

.dashboard-list-item {
    padding: 1rem 0 1rem 0;
}
.dashboard-list-item a:link {
    color: #352f26;
}

.dashboard-list-item a:visited {
    color: #352f26;
}

/* style of the settings */
.containerBody {
    width: 600px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    height: 1.5rem;
    padding: 1rem;
}
tr {
    border-bottom: 1px solid #EEE;
}
