body {
    font-family: "source code pro";
}

#canvas {
    background-color:#fff; /* #f7f7f7; */
    height: 100vh;
}

.side {
    height: 100vh;
}


/* NonFullscreen view from left to right, top to bottom*/
#canvasHeader {
    border-bottom: 1px solid #EEE;
    height: 2rem;
    padding: 1rem;
}

#canvasPanelHeader {
    font-weight: bold;
    border-bottom: 2px solid #EEE;
    padding: 1rem 1rem 0 1rem;
}

#canvasPanelContents {
    padding: 1rem 1rem 0 1rem;
}
.spacer {
    margin-left: 2rem;
}
.entries div {
    padding: 2px 0 2px 0;
}
.entry:hover {
    background-color: #EEE;
    cursor: pointer;
    /* trick to extend background hover to overflow text */
    display: inline-block;
    min-width: 100%;
}
.isDir {
    text-decoration: underline;
}
.isDir .entry:hover {
    text-decoration: underline;
}

#canvasOverview {
    margin: 1rem 2rem 0 2rem;
}

.sideBySideWrapper {
    display: flex;
}

.sideBySideWrapper #canvasPanel {
    width: 300px;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: auto;
}

.sideBySideWrapper #canvasOverview {
    flex: 1 1 auto;
}


/* Fullscreen View */
#editorFrame {
    background-color: white;
    height: 100vh;
    border-style: solid;
    border-color:  #d9d9d9;
    border-width: 0 1px 0 1px;
}

/* Size and vertical align everything */
.material-icons {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* keep the font size the same in skeleton */
    font-size: 1.5rem;
}
