body {
    font-family: 'Source Code Pro', 'SFMono-Regular', consolas, menlo, monospace;
}

.clickable {
    opacity: 0.3;
}
.clickable:hover {
    cursor: pointer;
    opacity: 1;
}

#App {
    display: flex;
}
#Navigation {
    background-color: #FAFAFA;
    border-right: 2px solid #EEE;
    width: 300px;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: auto;
    height: 100vh;
}

#NavHeader, #EditorHeader {
    display: flex;
    color: #555;
    border-bottom: 2px solid #EEE;
    padding: 0rem 1rem 0 0.5rem;
    font-size: 85%;
    height: 2.5rem;
    align-items: center;
    vertical-align: middle;
}

#NavEntries div {
    margin-bottom: 0.5rem;
}
.entrySpacer {
    margin-left: 1rem;
}
.entries div {
    padding: 2px 0 2px 0;
}

/* File entries align with folder on the left */
.isFile {
    padding-left: 1rem;
    border-left: 3px solid;
    border-color: #FAFAFA;
}
.selectedEntry {
    border-color: red;
    background-color: #EEE;
}
.entry:hover {
    background-color: #EEE;
    cursor: pointer;
    /* trick to extend background hover to overflow text */
    display: inline-block;
    min-width: 100%;
}

#Editor.nonFullscreen {
    flex: 1 1 auto;
}

#EditorPath {
    flex: 1 1 auto;
}

.split-horizontal {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
}

.split-vertical {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}

.split-horizontal .gutter {
    cursor: ew-resize;
    height: 100%;
    background-color: #EEE;
}

.split-vertical .gutter {
    cursor: ns-resize;
    width: 100%;
    background-color: #EEE;
}


#EditingArea {
    overflow: auto;
}

.sideBySideWrapper #canvasPanel {
    width: 300px;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: auto;
}

.sideBySideWrapper #canvasOverview {
    flex: 1 1 auto;
}


/* Fullscreen View */
#editorFrame {
    background-color: white;
    height: 100vh;
    border-style: solid;
    border-color:  #d9d9d9;
    border-width: 0 1px 0 1px;
}

.split-horizontal #PreviewArea {
    height: 100vh;
    overflow: auto;
}
.split-vertical #PreviewArea {
    width: 100%;
    overflow: auto;
}
iframe {
    border-width: 0px 1px 0 1px;
    border-color: #d9d9d9;
    border-style: solid;
    width: 100%;
    height: 100%;
}

/* Size and vertical align everything */
.material-icons {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* keep the font size the same in skeleton */
    font-size: 1.5rem;
}

/* CodeMirror customized css */
.CodeMirror {
    font-family: 'Source Code Pro', 'SFMono-Regular', consolas, menlo, monospace;
    font-size: 85%;
}
.CodeMirror-gutters {
    background-color: white;
    border-right: 0px;
}
.CodeMirror-linenumber{
    color: #999;
}
.CodeMirror-cursor {
    border-width: 2px;
    border-color: #555;
}

#Editor.fullscreen {
    width: 650px;
    margin: 0 auto;
    background-color: white;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    height: 100vh;
    overflow: auto;
}
#App.fullscreen {
    background-color: #F7F7F7;
}



#HorizontalSplitIcon {
    background-image: url(./icons/horizontal_split.svg);
    height: 24px;
    width: 24px;
}

#VerticalSplitIcon {
    background-image: url(./icons/vertical_split.svg);
    height: 24px;
    width: 24px;
}

#FullscreenIcon {
    background-image: url(./icons/fullscreen.svg);
    height: 24px;
    width: 24px;
}
