html, .CodeMirror {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

@media (min-width: 767px) {
    html, .CodeMirror {
        font-size: 18px;
    }
}

/* Editor */
.CodeMirror {
    height: auto;
}
#editor {
    margin: 2rem 0;
}

.CodeMirror-cursor {
  border-left: 2px solid #333;
}

/* Preview */
#preview-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 200;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
#preview-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #EEE;
    background: #FFF;
}

/* Bottom */
#editor-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.5rem;
    width: 100%;
    font-size: 0.7rem;
    padding: 0 4px;
    z-index: 201;
}

.small-btn {
    padding: 0 4px;
    border-radius: 3px;
    border: 1px solid;
}

.panel-item {
    margin-right: 0.5rem;
}

.panel-left {
    flex: 1;
}

/* Shell */
#shell-wrapper {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    z-index: 201;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.7rem;
}

#shell-output-wrapper {
    max-height: 50vh;
    overflow-y: auto;
}

#shell-input {
    font-family: monospace;
    font-size: 0.7rem;
    border: none;
    height: 1.5rem;
    padding: 0;
    margin: 0;
    display: inline;
}
#shell-input:focus {
    border: none;
    box-shadow: none;
}
.shell-prompt {
    margin-right: 0.5rem;
}
#shell-clean {
    cursor: pointer;
    cursor: hand;
}

/* NOTIFICATION */
.toast {
    font-size: 0.9rem;
}
.toast-info {
    background-color: #DFF0D8;
    color: #468847;
}

.toast-error {
    background-color: #FFE2E2;
    color: #EF3434;
}

#loader, #preview-loader {
    top: 0;
    margin-top: 0;
    padding-top: 0;
    z-index: 201;
}

/* COLORS */
.panel-bg {
    background-color: #424242;
    color: #eceff1;
}
.panel-btn-color {
    background-color: #212121;
    border: #212121;
}

#shell-wrapper {
    background-color: #263238;
    color: #EEE;
}

#shell-input:focus + label {
    color: #EEE;
}

.CodeMirror-matchingbracket {
  background-color: #eaffea;
}

.CodeMirror-empty {
  color: #CCC;
}
