html, .CodeMirror {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
}

.noscroll {
    overflow: hidden;
}

/* Editor */
.CodeMirror {
    height: 90vh;
}
#editor-wrapper {
    height: 100%;
    margin-bottom: 5rem;
}

.CodeMirror-cursor {
  border-left: 2px solid #333;
}

/* Preview */
#preview-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 200;
}
#preview-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #EEE;
    background: #FFF;
}

/* Bottom */
#editor-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.5rem;
    width: 100%;
    padding: 0 4px;
    z-index: 201;
    font-size: 16px;
}

.small-btn {
    cursor: pointer;
    cursor: hand;
    padding: 0 4px;
    border-radius: 3px;
    border: 1px solid;
}

.panel-item {
    margin-right: 0.5rem;
}

.panel-left {
    flex: 1;
}

/* Shell */
#shell-wrapper {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    z-index: 201;
    margin-bottom: 0;
    padding-bottom: 0;
}
#shell-wrapper * {
    font-size: 16px;
}
#shell-output-header {
    height: 1.5rem;
}
#shell-output-wrapper {
    max-height: 50vh;
    min-height: 10vh;
    overflow-y: auto;
    line-height: 1.2;
    font-size: 0.7rem;
}

#shell-input {
    font-family: monospace;
    border: none;
    height: 1.5rem;
    padding: 0;
    margin: 0;
    display: inline;
}
#shell-input:focus {
    border: none;
    box-shadow: none;
}
.shell-prompt {
    margin-right: 0.5rem;
}

/* MODAL */
#tab-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #EEE;
}

/* NOTIFICATION */
.toast {
    font-size: 0.9rem;
}
.toast-info {
    background-color: #DFF0D8;
    color: #468847;
}

.toast-error {
    background-color: #FFE2E2;
    color: #EF3434;
}

#loader, #preview-loader {
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 201;
}

/* COLORS */
.panel-bg {
    background-color: #616161;
    color: #eceff1;
    border-top: 1px solid #757575;
}
.panel-btn-color {
    background-color: #424242;
    border: none;
}
.panel-btn-color:hover {
    background-color: #212121;
    border: none;
}

#shell-wrapper {
    background-color: #616161;
    color: #EEE;
}

#shell-output-header {
    border-bottom: 1px solid #757575;
}

#shell-input:focus + label {
    color: #EEE;
}

.CodeMirror-matchingbracket {
  background-color: #eaffea;
}

.CodeMirror-empty {
  color: #CCC;
}

@media only screen and (max-width: 450px) {
#preview-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
}

@media only screen and (min-width: 600px) {
html, .CodeMirror {
    font-size: 21px;
}

}

@media only screen and (min-width: 768px) {
html, .CodeMirror {
    font-size: 22px;
}
}

@media only screen and (min-width: 992px) {
html, .CodeMirror {
    font-size: 23px;
}
}
