html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
}

body {
    background-color: #fafbfc;
}

#wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.collection a.collection-item {
    color: #888;
}

.item-left {
    flex: 1;
}

.not-pollen-source .item-left {
    color: #DDD;
}

.collection-item .op, .collection-item a {
    color: rgba(0,0,0,87);
}

.collection-item .op:hover, .collection-item a:hover {
    color: #777;
    cursor: pointer;
}

.material-icons {
    line-height: 1.5rem;
    font-size: inherit;
}

.indexing-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.expand-item, .expand-less, .active .expand-more {
    display: none;
}

.active .expand-item, .active .expand-less {
    display: inline-block;
}

.op {
    margin-left: 0.5rem;
}

/* .divier will have space only when the whole list is expanded */
.active .op.divider {
    margin-left: 0.8rem;
}

.op.divider {
    width: 0;
    margin-left: 0rem;
}
