<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@|resource|</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="stylesheet" href="/css/solarized.css">
    <link rel="stylesheet" href="/css/editor.css">
  </head>

  <body class="noscroll">
    <div id="upper-wrapper">
      <div id="startup-loader" class="progress">
        <div class="indeterminate"></div>
      </div>

      <div id="preview-row" class="row">
        <div id="preview-wrapper" class="col s12 m6 hide">
          <div id="preview-loader" class="progress">
            <div class="indeterminate"></div>
          </div>
          <iframe id="preview-frame"></iframe>
        </div>
      </div>

      <div id="editor-row" class="row">
        <div id="editor-wrapper" class="col s12 m6 push-m3 hide">
          <textarea name="compose" id="compose" data="@|resource|" placeholder="Ready to rock!">@|content|</textarea>
        </div>
      </div>
    </div>
    <div id="editor-panel" class="panel-bg valign-wrapper">
      <div class="panel-left">
        <span class="panel-item hide-on-small-only">@|resource|</span>
        <span id="previewBtn" class="small-btn panel-btn-color panel-item">Preview</span>
        <span id="shellBtn" class="small-btn panel-btn-color panel-item @|shell-disabled|">Shell</span>
      </div>
      <div class="panel-right">
        <span id="save-status" class="panel-item">saved</span>
        <span id="settingsBtn" data-target="editor-settings" class="small-btn panel-btn-color panel-item">Settings</span>
      </div>
    </div>

    <div id="editor-settings" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <ul id="tab-header" class="tabs">
              <li class="tab"><a href="#preference">Preference</a></li>
              <li class="tab"><a href="#keymaps-tab">Keymaps</a></li>
              <li class="tab"><a href="#bug-tab">Issues</a></li>
            </ul>
          </div>
          <div id="preference" class="col s12">
            <!-- code will construct the following field dynamically
            <div class="input-field">
              <select id="p-theme">
                <option value="default">Default</option>
                <option value="solarized light">Solarized Light</option>
                <option value="solarized dark">Solarized Dark</option>
              </select>
              <label>Themes</label>
            </div>
            -->
          </div>

          <div id="keymaps-tab" class="col s12">
            <p>The following keymaps are active:</p>
            <table class="bordered">
              <thread>
                <tr>
                  <th>Keystroke</th>
                  <th>Command</th>
                </tr>
              </thread>
              <tbody id="keymap-body">
              </tbody>
            </table>
          </div>

          <div id="bug-tab" class="col s12">
            <p>Please report issues (and suggest features) on <a target="_blank" href="https://github.com/lijunsong/pollen-rock/issues">Github</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="shell-wrapper" class="row hoverable hide">
      <div id="shell-output-header" class="col s12 valign-wrapper"><span class="panel-left">Terminal</span><span id="shell-clean" class="small-btn panel-btn-color">clean</span></div>
        <div id="shell-output-wrapper" class="col s12"></div>
        <div class="col s12 valign-wrapper">
          <span class="shell-prompt">&#36;</span><input id="shell-input" type="text" autocomplete="off">
        </div>
    </div>

    <script type="text/template" data-template="keymap-row">
      <tr>
        <td>{{keystroke}}</td>
        <td>{{doc}}</td>
      </tr>
    </script>
    <script type="text/template" data-template="shell-output">
      <pre>&#36; {{input}}</pre>
      <div class="shell-output">
        <pre>{{output}}</pre>
      </div>
      <div class="divider"></div>
    </script>
    <script src="/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/js/libs/materialize.min.js"></script>
    <script src="/js/libs/pollen-rpc.js"></script>
    <script src="/js/codemirror/codemirror.js"></script>
    <script src="/js/codemirror/placeholder.js"></script>
    <script src="/js/codemirror/matchbrackets.js"></script>
    <script src="/js/codemirror/pollen.js"></script>
    <script src="/js/event.js"></script>
    <script src="/js/model.js"></script>
    <script src="/js/view.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/editor.js"></script>
  </body>
</html>
