<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pollen Rock</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/files.css">
  </head>

  <body>
    <div id="wrapper">
    </div>

    <template id="tpl-item-right">
      <span class="op"></span>
    </template>
    <template id="tpl-collection-item">
      <li class="collection-item valign-wrapper">
        <div class="item-left"></div>
        <div class="item-right">
          <span class="op divider"></span>
          <span class="op expand-item fs-delete"><i class="material-icons">delete</i></span>
          <span class="op expand-item fs-edit"><i class="material-icons">edit</i></span>
          <span class="op expand-less"><i class="material-icons">chevron_left</i></span>
          <span class="op expand-more"><i class="material-icons">expand_more</i></span>
        </div>
      </li>
    </template>
    <template id="tpl-index-wrapper">
      <div class="indexing">
        <ul class="collection with-header">
          <li class="indexing-name collection-header"></li>
        </ul>
      </div>
    </template>
    <script src="/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/js/libs/materialize.min.js"></script>
    <script src="/js/libs/pollen-rpc.js"></script>
    <script src="/js/event.js"></script>
   <script src="/js/files.js"></script>
  </body>
</html>
