<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pollen Rock</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/files.css">
  </head>

  <body>
    <div class="wrapper">
      <div id="folder-indexing" class="collection">
      </div>

      <div id="file-indexing" class="collection">
      </div>
    </div>
    <script src="/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/js/libs/materialize.min.js"></script>
    <script src="/js/libs/pollen-rpc.js"></script>
    <script src="/js/event.js"></script>
   <script src="/js/files.js"></script>
  </body>
</html>
