<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Watching @|resource|</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/watchfile.css">
  </head>

  <body>
    <div id="autorender-loader" class="progress">
      <div class="indeterminate"></div>
    </div>
    <div id="autorender-data" data="@|resource|">
      <iframe id="autorender-frame"></iframe>
    </div>
    <div id="dead" class="valign-wrapper" style="display: none;">
      <div style="margin: 0 auto;">Server seems dead...Try to reload?</div>
    </div>

    <script src="/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/js/libs/materialize.min.js"></script>
    <script src="/js/libs/pollen-rpc.js"></script>
    <script src="/js/watchfile.js"></script>
  </body>
</html>
